{% extends 'base.html' %}

{% block head %}

    <title>Saitto - Gmaes Portfolio</title>

{% endblock %}


{% block body %}
    <div class="bodyWebsite">
        <p style="font-size:30px;">Games</p>
        <a href="https://testedjourneys.pythonanywhere.com/Games" style = "font-size: 20px; color:#F8F9FA; text-decoration: none;">&rarr; Tic Tac Toe</a>
        <p style="font-size:20px; color: #ADB5BD;">Tic Tac Toe is a simple yet strategic two-player game that takes place on a grid, traditionally 3x3 in size. The players alternate marking the spaces in the grid with their respective symbols — commonly X and O. The primary objective is to be the first player to place three of their symbols in a row, either horizontally, vertically, or diagonally.</p>
        <a href="https://testedjourneys.pythonanywhere.com/Games" style = "font-size: 20px; color:#F8F9FA; text-decoration: none;">&rarr; Maze</a>
        <p style="font-size:20px; color: #ADB5BD;">A maze game is a type of puzzle game where the player navigates through a complex network of paths or passages to reach a designated end goal, often starting from an entry point. The maze may contain various obstacles, dead-ends, and branching paths, making the challenge to find the correct path to the exit.</p>
        <a href="https://testedjourneys.pythonanywhere.com/Games" style = "font-size: 20px; color:#F8F9FA; text-decoration: none;">&rarr; Rock Paper Scissor</a>
        <p style="font-size:20px; color: #ADB5BD;">A simple hand game played by two people, typically as a fun way to make a decision or resolve a dispute. It is a game of chance that also involves elements of strategy, where each player simultaneously forms one of three shapes with an outstretched hand. The rules determine the winner based on the shape chosen by each player.</p>
    </div>
{% endblock %}