{% extends "base.html" %}

{% block head %}

<title>Saitto - Task Tracker Project</title>

{% endblock %}


{% block body %}

<div class="bodyWebsite">
    <p style="font-size:30px;">Task Tracker</p>
    <input type="text" placeholder="Enter New Task Here..." size="50" style="border-radius: 5px; height: 30px;">
    <input type="submit" value="Add"
        style="background-color: #ADB5BD; border-color: #ADB5BD; color: #FFFFFF; margin: 30px; border-radius: 5px; height: 35px; width: 70px;">
</div>

{% endblock %}